{% extends "base.html" %}
{% load i18n static %}

{% block extrahead %}
    <link type="text/css" rel="stylesheet"
         href="https://unpkg.com/bootstrap/dist/css/bootstrap.min.css" />
    <link type="text/css" rel="stylesheet"
         href="https://unpkg.com/bootstrap-vue@latest/dist/bootstrap-vue.css" />
    <link type="text/css" rel="stylesheet" href="{% static "booth/style.css" %}" />
    <link type="text/css" rel="stylesheet" href="{% static "visualizer/style.css" %}" />
{% endblock %}

<meta name="viewport" content="width=device-width, initial-scale=1">

{% block content %}
    <div id="app-visualizer">
        <!-- Navbar -->
        <b-navbar type="dark" data-html2canvas-ignore="true" variant="secondary">
            <b-navbar-brand tag="h1">Decide</b-navbar-brand>
        </b-navbar>

        <div class="body">
            <h1>SOBRE NOSOTROS</h1>
    
        <h2> Este es nuestro desarrollo </h2>
      
        <p>Decide esta hecho a base de distintos modulos, los cuales han sido desarrollados por distintos subequipos, 
            en el equipo de Visualización nos hemos encargado de que los datos de cada una de las votaciones lleguen al 
            usuario en forma de graficas y estadisticas, y que el usuario sea capaz de compartiralas en distintas redes sociales,
            o las descarguen en distintos formatos.</p>
    
        <u><b>Visualizer</b></u>
        
        <div class=table>
            <table class=visualización>
                <tr>
                    <th>
                        Miembros
                    </th>
                    <th>
                        Github
                    </th>
                    <th>
                        Imagen
                    </th>
                </tr>
                <tr>
                    <td>
                        Fernando Sola 
                    </td>
                    <td class=enlace>
                        <a href="https://github.com/fersolesp"><img 
                        src="https://icons.veryicon.com/png/System/Flat%20Gradient%20Social/Github.png" height="20" width="20"></a><br>
                    </td>
                    <td>
                        <img src="https://avatars1.githubusercontent.com/u/56033430?s=400&u=f0e2357e46344db4bc943d0fa4a565148dc4b795&v=4" height="20" width="20"></a><br>
                    </td>
                </tr>
                <tr>
                    <td>
                        Reyes Blasco 
                    </td>
                    <td class=enlace>
                        <a href="https://github.com/reyblacua"><img 
                        src="https://icons.veryicon.com/png/System/Flat%20Gradient%20Social/Github.png" height="20" width="20"></a><br>
                    </td>
                    <td>
                        <img src="https://avatars2.githubusercontent.com/u/56033757?s=400&u=d1a4ef8ca7218961ec8aabd69b53a9da14ea976c&v=4" height="20" width="20"></a><br>
                    </td>
                </tr>
                <tr>
                    <td>
                        José Salado 
                    </td>
                    <td class=enlace>
                        <a href="https://github.com/jossalase"><img 
                        src="https://icons.veryicon.com/png/System/Flat%20Gradient%20Social/Github.png" height="20" width="20"></a><br>
                    </td>
                    <td>
                        <img src="https://avatars2.githubusercontent.com/u/56022937?s=400&v=4" height="20" width="20"></a><br>
                    </td>
                </tr>
                <tr>
                    <td>
                        José María Cornac 
                    </td>
                    <td class=enlace>
                        <a href="https://github.com/joscorfis"><img 
                        src="https://icons.veryicon.com/png/System/Flat%20Gradient%20Social/Github.png" height="20" width="20"></a><br>
                    </td>
                    <td>
                        <img src="https://avatars2.githubusercontent.com/u/56033754?s=400&u=24fe6655916e2420db28961374752eb4cb2a81dd&v=4" height="20" width="20"></a><br>
                    </td>
                </tr>
                <tr>
                    <td>
                        Pablo Cardenal 
                    </td>
                    <td class=enlace>
                        <a href="https://github.com/Pabcargam"><img 
                        src="https://icons.veryicon.com/png/System/Flat%20Gradient%20Social/Github.png" height="20" width="20"></a><br>
                    </td>
                    <td>
                        <img src="https://avatars1.githubusercontent.com/u/56033670?s=400&u=ff6d5425a5d8c165e618e42e58871ecd0e6215d5&v=4" height="20" width="20"></a><br>
                    </td>
                </tr>
                <tr>
                    <td>
                        Vanesa Pradas 
                    </td>
                    <td class=enlace>
                        <a href="https://github.com/vanprafer"><img 
                        src="https://icons.veryicon.com/png/System/Flat%20Gradient%20Social/Github.png" height="20" width="20"></a><br>
                    </td>
                    <td>
                        <img src="https://avatars2.githubusercontent.com/u/56033758?s=400&v=4" height="20" width="20"></a><br>
                    </td>
                </tr>
            </table>
        </div>
    
    </div>
{% endblock %}

{% block extrabody %}
    <!-- Vuejs -->
    <script src="https://unpkg.com/vue"></script>
    <script src="https://unpkg.com/babel-polyfill@latest/dist/polyfill.min.js"></script>
    <script src="https://unpkg.com/bootstrap-vue@latest/dist/bootstrap-vue.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/Chart.js/2.8.0/Chart.js"></script>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
    <script src="https://raw.githack.com/eKoopmans/html2pdf/master/dist/html2pdf.bundle.js"></script>

    <script>
        var voting = {{voting|safe}};
        var app = new Vue({
            delimiters: ['[[', ']]'],
            el: '#app-visualizer',
            data: {
                voting: voting
            }
        })
    </script>
</body>
{% endblock %}