{% extends "base.html" %}
{% load i18n static %}

{% block extrahead %}
    <link type="text/css" rel="stylesheet"
         href="https://unpkg.com/bootstrap/dist/css/bootstrap.min.css" />
    <link type="text/css" rel="stylesheet"
         href="https://unpkg.com/bootstrap-vue@latest/dist/bootstrap-vue.css" />
    <link type="text/css" rel="stylesheet" href="{% static 'visualizer/style.css' %}" />
    <link rel="stylesheet" type="text/css" href="{% static 'visualizer/menu.css' %}">
    
    
{% endblock %}

<meta name="viewport" content="width=device-width, initial-scale=1">

{% block content %}
    <div id="app-visualizer">
        <!-- Navbar -->
        {% include "visualizer/menu.html" %}

        <div class="voting mr-5">
            <h1 v-if="voting != null" class="ml-5">[[ voting.titulo ]]</h1><br/>
            <h2 v-if="voting.start_date == null">Votación no comenzada  </h2>
            <h2 v-else-if="voting.end_date == null">Votación en curso </h2>
            <h2 v-else-if="voting.postproc == null">Votación sin recuento </h2>
            <div v-else>
                <div  v-if="voting.postproc != null" id="resultados_estadisticas"  class="ml-5">
                    <div id="results">
                        <div id="enun_result"> 
                            <h2 class="heading">Resultados:</h2>
                        </div> 
                        <br>
                        <div id="enun_titulo0">                        
                            <h3 class="heading">[[voting.postproc.preguntas[0].titulo]]</h3>
                        </div>
                        <div>
                            <div id="resultados0">
                                <table class="table table-bordered table-condensed table-striped table-hover display-15 w-auto">
                                    <thead>
                                        <tr>
                                            <th><font size=2>Candidato</font></th>
                                            <th><font size=2>Votos totales</font></th>
                                            <th><font size=2>Votos masculinos</font></th>
                                            <th><font size=2>Votos femeninos</font></th>
                                            <th><font size=2>Votos de alumnos de primero</font></th>
                                            <th><font size=2>Votos de alumnos de segundo</font></th>
                                            <th><font size=2>Votos de alumnos de tercero</font></th>
                                            <th><font size=2>Votos de alumnos de cuarto</font></th>
                                            <th><font size=2>Votos de alumnos de master</font></th>
                                            <th><font size=2>Media de edad de sus votantes</font></th>
                                        </tr>
                                    </thead>
                                    <tbody>
                                        <tr v-for="opt in voting.postproc.preguntas[0].opts" :key="opt.numero">
                                            <td>[[opt.nombre]]</td>
                                            <td>[[opt.votes]]</td>
                                            <td>[[opt.voto_M]]</td>
                                            <td>[[opt.voto_F]]</td>
                                            <td>[[opt.voto_curso.primero]]</td>
                                            <td>[[opt.voto_curso.segundo]]</td>
                                            <td>[[opt.voto_curso.tercero]]</td>
                                            <td>[[opt.voto_curso.cuarto]]</td>
                                            <td>[[opt.voto_curso.master]]</td>
                                            <td>[[opt.media_edad]]</td>
                                        </tr>
                                    </tbody>
                                </table>
                            </div>
                            <div id="espacio_graficas0">
                                <div id="divMyChartVotes0" class="float-left abajito">
                                    <h6 style="text-align: center;">Votos de todos los candidatos</h6>
                                    <canvas id="myChartVotes0" width="50" height="30"></canvas>
                                </div>
                                <div id="divMyChartAges0" class="float-right abajito">
                                    <h6 style="text-align: center;">Media de edad de los votantes</h6>
                                    <canvas id="myChartAges0" width="50" height="30"></canvas>
                                </div>
                                <div class="row menuito">
                                    <div class="col-md-6">
                                        <h6 id="tituloGraficosSexo0" class="centralizar">Votos por sexo de cada candidato</h6>
                                        <div id="graficosSexo0"></div>
                                    </div>
                                    <div class="col-md-6">
                                        <h6 id="tituloGraficosCurso0" class="centralizar">Votos por curso de cada candidato</h6>
                                        <div id="graficosCurso0"></div>
                                    </div>
                                </div>
                            </div>
                        </div>
                        
                        <div v-for="preg in [1,2,3,4,5]">
                            
                            <div v-bind:id="'enun_titulo'+preg">
                                <br>
                                <h3 class="heading">[[voting.postproc.preguntas[preg].titulo]]</h3>
                            </div>
                            <div>
                                <div v-bind:id="'resultados'+preg">
                                    <table class="table table-bordered table-condensed table-striped table-hover">
                                        <thead>
                                            <tr>
                                                <th>Candidato</th>
                                                <th>Votos totales</th>
                                                <th>Votos masculinos</th>
                                                <th>Votos femeninos</th>
                                                <th>Media de edad de sus votantes</th>
                                            </tr>
                                        </thead>
                                        <tbody>
                                            <tr v-for="opt in voting.postproc.preguntas[preg].opts" :key="opt.numero">
                                                <td>[[opt.nombre]]</td>
                                                <td>[[opt.votes]]</td>
                                                <td>[[opt.voto_M]]</td>
                                                <td>[[opt.voto_F]]</td>
                                                <td>[[opt.media_edad]]</td>
                                            </tr>
                                        </tbody>
                                    </table>
                                </div>
                                <div v-bind:id="'espacio_graficas'+preg">
                                    <div v-bind:id="'divMyChartVotes'+preg" class="float-left abajito">
                                        <h6 style="text-align: center;">Votos de todos los candidatos</h6>
                                        <canvas v-bind:id="'myChartVotes'+preg" width="50" height="30"></canvas>
                                    </div> 
                                    <div v-bind:id="'divMyChartAges'+preg" class="float-right abajito">
                                        <h6 style="text-align: center;">Media de edad de los votantes</h6>
                                        <canvas v-bind:id="'myChartAges'+preg" width="50" height="30"></canvas>
                                    </div>
                                    <div class="row menuito">
                                        <div class="col-md-6 mx-auto">
                                            <h6 v-bind:id="'tituloGraficosCurso'+preg" class="centralizar">Votos por sexo de cada candidato</h6>
                                            <div v-bind:id="'graficosSexo'+preg"></div>
                                        </div>    
                                    </div>
                                </div>
                            </div>
                        </div>

                        <div v-if="voting.postproc.tipo=='GV'">
                            <br>
                            <div id="enun_titulo6">
                                <h3 class="heading">[[voting.postproc.preguntas[6].titulo]]</h3>
                            </div>
                            <div>
                                <div id="resultados6">
                                    <table class="table table-bordered table-condensed table-striped table-hover">
                                        <thead>
                                            <tr>
                                                <th><font size=2>Candidato</font></th>
                                                <th><font size=2>Votos totales</font></th>
                                                <th><font size=2>Votos masculinos</font></th>
                                                <th><font size=2>Votos femeninos</font></th>
                                                <th><font size=2>Votos de alumnos de primero</font></th>
                                                <th><font size=2>Votos de alumnos de segundo</font></th>
                                                <th><font size=2>Votos de alumnos de tercero</font></th>
                                                <th><font size=2>Votos de alumnos de cuarto</font></th>
                                                <th><font size=2>Votos de alumnos de master</font></th>
                                                <th><font size=2>Media de edad de sus votantes</font></th>
                                            </tr>
                                        </thead>
                                        <tbody>
                                            <tr v-for="opt in voting.postproc.preguntas[6].opts" :key="opt.numero">
                                                <td>[[opt.nombre]]</td>
                                                <td>[[opt.votes]]</td>
                                                <td>[[opt.voto_M]]</td>
                                                <td>[[opt.voto_F]]</td>
                                                <td>[[opt.voto_curso.primero]]</td>
                                                <td>[[opt.voto_curso.segundo]]</td>
                                                <td>[[opt.voto_curso.tercero]]</td>
                                                <td>[[opt.voto_curso.cuarto]]</td>
                                                <td>[[opt.voto_curso.master]]</td>
                                                <td>[[opt.media_edad]]</td>
                                            </tr>
                                        </tbody>
                                    </table>
                                </div>
                                <div id="espacio_graficas6">
                                    <div id="divMyChartVotes6" class="float-left abajito">
                                        <h6 style="text-align: center;">Votos de todos los candidatos</h6>
                                        <canvas id="myChartVotes6" width="50" height="30"></canvas>
                                    </div>
                                    <div id="divMyChartAges6" class="float-right abajito">
                                        <h6 style="text-align: center;">Media de edad de los votantes</h6>
                                        <canvas id="myChartAges6" width="50" height="30"></canvas>
                                    </div>
                                    <div class="row menuito">
                                        <div class="col-md-6">
                                            <h6 id="tituloGraficosSexo6" class="centralizar">Votos por sexo de cada candidato</h6>
                                            <div id="graficosSexo6"></div>
                                        </div>
                                        <div class="col-md-6">
                                            <h6 id="tituloGraficosCurso6" class="centralizar">Votos por curso de cada candidato</h6>
                                            <div id="graficosCurso6"></div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    
                    <div id="statistics"><br>
                        <h2 class="heading">Estadísticas:</h2><br>
                        
                        <table class="table table-bordered table-condensed table-striped table-hover">
                            <thead>
                                <tr>
                                    <th></th>
                                    <th>Totales</th>
                                    <th>Primero</th>
                                    <th>Segundo</th>
                                    <th>Tercero</th>
                                    <th>Cuarto</th>
                                    <th>Master</th>
                                </tr>
                            </thead>
                            <tbody>
                                <tr>
                                    <th>Porcentaje de abstención</th>
                                    <td>[[ voting.postproc.estadisticas.abstencion._0 ]] %</td>
                                    <td>[[ voting.postproc.estadisticas.abstencion._1 ]] %</td>
                                    <td>[[ voting.postproc.estadisticas.abstencion._2 ]] %</td>
                                    <td>[[ voting.postproc.estadisticas.abstencion._3 ]] %</td>
                                    <td>[[ voting.postproc.estadisticas.abstencion._4 ]] %</td>
                                    <td>[[ voting.postproc.estadisticas.abstencion._5 ]] %</td>
                                </tr>
                                <tr>
                                    <th>Porcentaje de abstención masculina</th>
                                    <td>[[ voting.postproc.estadisticas.abstencion_m._0 ]] %</td>
                                    <td>[[ voting.postproc.estadisticas.abstencion_m._1 ]] %</td>
                                    <td>[[ voting.postproc.estadisticas.abstencion_m._2 ]] %</td>
                                    <td>[[ voting.postproc.estadisticas.abstencion_m._3 ]] %</td>
                                    <td>[[ voting.postproc.estadisticas.abstencion_m._4 ]] %</td>
                                    <td>[[ voting.postproc.estadisticas.abstencion_m._5 ]] %</td>
                                </tr>
                                <tr>
                                    <th>Porcentaje de abstención femenina</th>
                                    <td>[[ voting.postproc.estadisticas.abstencion_f._0 ]] %</td>
                                    <td>[[ voting.postproc.estadisticas.abstencion_f._1 ]] %</td>
                                    <td>[[ voting.postproc.estadisticas.abstencion_f._2 ]] %</td>
                                    <td>[[ voting.postproc.estadisticas.abstencion_f._3 ]] %</td>
                                    <td>[[ voting.postproc.estadisticas.abstencion_f._4 ]] %</td>
                                    <td>[[ voting.postproc.estadisticas.abstencion_f._5 ]] %</td>
                                </tr>
                                <tr>
                                    <th>Media de edad</th>
                                    <td>[[ voting.postproc.estadisticas.media_edad._0 ]]</td>
                                    <td>[[ voting.postproc.estadisticas.media_edad._1 ]]</td>
                                    <td>[[ voting.postproc.estadisticas.media_edad._2 ]]</td>
                                    <td>[[ voting.postproc.estadisticas.media_edad._3 ]]</td>
                                    <td>[[ voting.postproc.estadisticas.media_edad._4 ]]</td>
                                    <td>[[ voting.postproc.estadisticas.media_edad._5 ]]</td>
                                </tr>

                            </tbody>
                        </table><br>

                        <h3 class="heading">[[voting.postproc.preguntas[0].titulo]]</h3>
                        <table class="table table-bordered table-condensed table-striped table-hover">
                            <thead>
                                <tr>
                                    <th><font size=2>Candidato</font></th>
                                    <th><font size=2>Porcentaje de votos respecto al censo</font></th>
                                    <th><font size=2>Porcentaje de votantes masculinos</font></th>
                                    <th><font size=2>Porcentaje de votantes femeninos</font></th>
                                    <th><font size=2>Porcentaje de votantes primer curso</font></th>
                                    <th><font size=2>Porcentaje de votantes segundo curso</font></th>
                                    <th><font size=2>Porcentaje de votantes tercer curso</font></th>
                                    <th><font size=2>Porcentaje de votantes cuarto curso</font></th>
                                    <th><font size=2>Porcentaje de votantes master</font></th>
                                </tr>
                            </thead>
                            <tbody>
                                <tr v-for="opt in voting.postproc.preguntas[0].opts" :key="opt.numero">
                                    <td>[[opt.nombre]]</td>
                                    <td>[[opt.estadisticas.votos_censo]] %</td>
                                    <td>[[opt.estadisticas.votos_m]] %</td>
                                    <td>[[opt.estadisticas.votos_f]] %</td>
                                    <td>[[opt.estadisticas.votos_primero]] %</td>
                                    <td>[[opt.estadisticas.votos_segundo]] %</td>
                                    <td>[[opt.estadisticas.votos_tercero]] %</td>
                                    <td>[[opt.estadisticas.votos_cuarto]] %</td>
                                    <td>[[opt.estadisticas.votos_master]] %</td>
                                </tr>
                            </tbody>
                        </table>
                        
                        <div v-for="preg in [1,2,3,4,5]">
                            <br>
                            <h3 class="heading">[[voting.postproc.preguntas[preg].titulo]]</h3>
                            <table class="table table-bordered table-condensed table-striped table-hover">
                                <thead>
                                    <tr>
                                        <th>Candidato</th>
                                        <th>Porcentaje de votos respecto al censo del curso</th>
                                        <th>Porcentaje de votantes masculinos</th>
                                        <th>Porcentaje de votantes femeninos</th>
                                    </tr>
                                </thead>
                                <tbody>
                                    <tr v-for="opt in voting.postproc.preguntas[preg].opts" :key="opt.numero">
                                        <td>[[opt.nombre]]</td>
                                        <td>[[opt.estadisticas.votos_censo]] %</td>
                                        <td>[[opt.estadisticas.votos_m]] %</td>
                                        <td>[[opt.estadisticas.votos_f]] %</td>
                                    </tr>
                                </tbody>
                            </table>
                        </div>

                        <div v-if="voting.postproc.tipo=='GV'">
                            <br>
                            <h3 class="heading">[[voting.postproc.preguntas[6].titulo]]</h3>
                            <table class="table table-bordered table-condensed table-striped table-hover">
                                <thead>
                                    <tr>
                                        <th><font size=2>Candidato</font></th>
                                        <th><font size=2>Porcentaje de votos respecto al censo</font></th>
                                        <th><font size=2>Porcentaje de votantes masculinos</font></th>
                                        <th><font size=2>Porcentaje de votantes femeninos</font></th>
                                        <th><font size=2>Porcentaje de votantes primer curso</font></th>
                                        <th><font size=2>Porcentaje de votantes segundo curso</font></th>
                                        <th><font size=2>Porcentaje de votantes tercer curso</font></th>
                                        <th><font size=2>Porcentaje de votantes cuarto curso</font></th>
                                        <th><font size=2>Porcentaje de votantes master</font></th>
                                    </tr>
                                </thead>
                                <tbody>
                                    <tr v-for="opt in voting.postproc.preguntas[6].opts" :key="opt.numero">
                                        <td>[[opt.nombre]]</td>
                                        <td>[[opt.estadisticas.votos_censo]] %</td>
                                        <td>[[opt.estadisticas.votos_m]] %</td>
                                        <td>[[opt.estadisticas.votos_f]] %</td>
                                        <td>[[opt.estadisticas.votos_primero]] %</td>
                                        <td>[[opt.estadisticas.votos_segundo]] %</td>
                                        <td>[[opt.estadisticas.votos_tercero]] %</td>
                                        <td>[[opt.estadisticas.votos_cuarto]] %</td>
                                        <td>[[opt.estadisticas.votos_master]] %</td>
                                    </tr>
                                </tbody>
                            </table>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>

{% endblock %}

{% block extrabody %}
    <!-- Vuejs -->
    <script src="https://unpkg.com/vue"></script>
    <script src="https://unpkg.com/babel-polyfill@latest/dist/polyfill.min.js"></script>
    <script src="https://unpkg.com/bootstrap-vue@latest/dist/bootstrap-vue.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/Chart.js/2.8.0/Chart.js"></script>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
    <script src="https://raw.githack.com/eKoopmans/html2pdf/master/dist/html2pdf.bundle.js"></script>

    <script>
        var voting = {{voting|safe}};
        var app = new Vue({
            delimiters: ['[[', ']]'],
            el: '#app-visualizer',
            data: {
                voting: voting
            }
        })
    </script>

    <script>

        /*
        function mostrarEnunciado() {
            var divResult = document.getElementById('resultados0');
            var divGraf = document.getElementById('espacio_graficas0');
            for (var i=0; i<7; i++) {
                var enunTit = document.getElementById('enun_titulo'+i);

                if(divResult.style.display === "none" && divGraf.style.display === "none") {
                    enunTit.style.display = "none";
                } else {
                    enunTit.style.display = "block";
                }
            }
        }
        */

        /* Modo oscuro */
        function cambiarModo() { 
            document.documentElement.classList.toggle("dark-mode");
            document.body.style.height="fit-content";
        } 

        function mostrarEnunciado() {
            var divResult = document.getElementById('resultados0');
            var divGraf = document.getElementById('espacio_graficas0');

            var enunTit = document.getElementById('results');

            if(divResult.style.display === "none" && divGraf.style.display === "none") {
                enunTit.style.display = "none";
            } else {
                enunTit.style.display = "block";
            }
        }

        
        function sinBody() {
            var estadoB1 = document.getElementById("checkbox_resultados");
            var estadoB2 = document.getElementById("checkbox_estadisticas");
            var estadoB3 = document.getElementById("checkbox_graficas");
            console.log(estadoB1.checked != "checked");
            console.log(estadoB2.checked != "checked"); 
            console.log(estadoB3.checked != "checked");
            if(estadoB1.checked != "checked" && estadoB2.checked != "checked" && estadoB3.checked != "checked") {
                var cuerpo = document.getElementById("app-visualizer");
                cuerpo.style.minHeight="100%";
                document.body.style.height="100%";
            }
            else{
                document.body.style.height="fit-content";
            }
        }

        function mostrarResultados() {
            var limit = 7;
            if(voting.postproc.tipo === 'PV'){
                limit = 6;
            }
            mostrarContenido('enun_result');

            for (var i=0; i<limit; i++) {
                mostrarContenido('resultados'+i);
            }
            sinBody();
            mostrarEnunciado();
        }
        function mostrarGraficas() {
            var limit = 7;
            if(voting.postproc.tipo === 'PV'){
                limit = 6;
            }
            for (var i=0; i<limit; i++) {
                mostrarContenido('espacio_graficas'+i);
            }
            sinBody();
            mostrarEnunciado();
        }


        function mostrarContenido(id) {
            var graficas = document.getElementById(id);
                if (graficas.style.display === "none") {
                graficas.style.display = "block";
                } else {
                    graficas.style.display = "none";
                }
                sinBody();
        }


        function graficoBarras(id, etiquetas, datos, etY, colores, beginAtZero) {
            var ctx= document.getElementById(id).getContext("2d");
            var myChart= new Chart(ctx,{
                type:'bar',
                data: {
                    labels: etiquetas,
                    datasets: [{
                        label: etY,
                            data: datos, 
                            backgroundColor:  colores,
                            borderColor:  colores,
                            borderWidth: 1
                    }]
                    },
                options:{
                    responsive: true,
                    legend :{
                        display: false
                    },
                    scales:{
                        yAxes:[{
                            scaleLabel: {
                                display: true,
                                labelString: etY
                            },
                            ticks:{
                                min: beginAtZero
                            },
                            stacked: false
                        }]
                    }
                }
            });
        }

        function getRandomColor() {
            var trans = '0.5'; // 50% transparency
            var color = 'rgba(';
            for (var i = 0; i < 3; i++) {
                color += Math.floor(Math.random() * 255) + ',';
            }
            color += trans + ')'; // add the transparency
            return color;
        }

        if(voting.postproc != null){

            var preguntas=voting.postproc.preguntas
            for (var i = 0; i < preguntas.length; i++) {
                var candidatos=preguntas[i].opts;
                var nombres=[];
                var votos=[];
                var mediasEdad=[];
                var colores=[];
                var div="" ;
                div = document.getElementById("graficosSexo"+i.toString());
                var divCurso="" ;
                divCurso = document.getElementById("graficosCurso"+i.toString());
                var mostrarTituloS = false;
                var mostrarTituloC = false;
                for(var e=0; e<candidatos.length;e++){
                    nombres.push(candidatos[e].nombre);
                    votos.push(candidatos[e].votes);
                    mediasEdad.push(candidatos[e].media_edad);
                    colores.push(getRandomColor());

                    //Crear grafos votos por candidatos segun sexo
                    if(candidatos[e].votes !=0 ){
                        var canvas = document.createElement('canvas');
                        canvas.id     = "myPieCharm"+i.toString()+"-"+e.toString();
                        canvas.width  = 107;
                        canvas.height = 27;
                        div.appendChild(canvas);
                        mostrarTituloS = true;
                        graficoSectoresSexo("myPieCharm"+i.toString()+"-"+e.toString(), [candidatos[e].voto_F, candidatos[e].voto_M], candidatos[e].nombre);
                    }
                    //Crear grafos voto por curso
                    if(i==0 || i==6){
                        if(candidatos[e].votes !=0 ){
                            var canvasCurso = document.createElement('canvas');
                            canvasCurso.id = "myPieCharmCurso"+i.toString()+"-"+e.toString();
                            canvasCurso.width  = 107;
                            canvasCurso.height = 27;
                            divCurso.appendChild(canvasCurso);
                            mostrarTituloC = true;

                            var votosCurso=[];
                            votosCurso.push(candidatos[e].voto_curso.primero);
                            votosCurso.push(candidatos[e].voto_curso.segundo);
                            votosCurso.push(candidatos[e].voto_curso.tercero);
                            votosCurso.push(candidatos[e].voto_curso.cuarto);
                            votosCurso.push(candidatos[e].voto_curso.master);
                            graficoSectoresCurso("myPieCharmCurso"+i.toString()+"-"+e.toString(), votosCurso, candidatos[e].nombre);
                        }
                    }
                    

                }
            if( (i==0 || i==6) && !mostrarTituloC ) {
                var para = document.createElement("p");
                var node = document.createTextNode("No existen datos");
                para.appendChild(node);
                para.style.textAlign="center";
                divCurso.appendChild(para);
            }
            if( !mostrarTituloS ) {
                var para = document.createElement("p");
                var node = document.createTextNode("No existen datos");
                para.appendChild(node);
                para.style.textAlign="center";
                div.appendChild(para);
            }
            if (Math.min.apply(17,mediasEdad) != 0){
                minEdad=Math.min.apply(17,mediasEdad)-1;
            }else{
                minEdad=15;
            }

            todoCeroVotos= true
            for(var l=0; l<votos.length;l++){
                if(votos[l] != 0){
                    todoCeroVotos=false
                }
            }

            todoCeroEdad= true
            for(var l=0; l<votos.length;l++){
                if(votos[l] != 0){
                    todoCeroEdad=false
                }
            }

            if(!todoCeroVotos){
                graficoBarras("myChartVotes"+i.toString(), nombres, votos, "Votos",colores, 0);
            }else{
                divGraficos=document.getElementById("divMyChartVotes"+i);
                var para = document.createElement("p");
                var node = document.createTextNode("No existen datos");
                para.appendChild(node);
                para.style.textAlign="center";
                divGraficos.appendChild(para);
                divGraficos.removeChild(document.getElementById("myChartVotes"+i))
            }
            if(!todoCeroVotos){
                graficoBarras("myChartAges"+i.toString(), nombres, mediasEdad, "Edad",colores, minEdad);
            }else{
                divGraficos=document.getElementById("divMyChartAges"+i);
                var para = document.createElement("p");
                var node = document.createTextNode("No existen datos");
                para.appendChild(node);
                para.style.textAlign="center";
                divGraficos.appendChild(para);
                divGraficos.appendChild(para);
                divGraficos.removeChild(document.getElementById("myChartAges"+i))
            }
            }
        }

        function graficoSectoresSexo(id, datos, candidato) {
            var ctx= document.getElementById(id).getContext("2d");
            var myChart= new Chart(ctx,{
                type:'pie',
                data: {
                    labels: ['Hombres','Mujeres'],
                    datasets: [{
                            label: 'Votos',
                            data: datos, 
                            backgroundColor: [
                                'rgba(54, 162, 235, 0.2)',
                                'rgba(255, 99, 132, 0.2)'
                            ],
                            borderColor: [
                                'rgba(54, 162, 235, 1)',
                                'rgba(255, 99, 132, 1)'
                            ],
                            borderWidth: 1
                            }]
                    },
                options:{
                    responsive: true,
                    title :{
                        display: true,
                        text: candidato
                    },
                    legend :{
                        display: false
                    },
                    scales:{
                        yAxes:[{
                            ticks:{
                                beginAtZero:true
                            },
                            display: false,
                            stacked: false
                        }],
                        xAxes:[{
                            display: false
                        }]
                    }
                }
            });
        }

        function graficoSectoresCurso(id, datos, candidato) {
            var ctx= document.getElementById(id).getContext("2d");
            var myChart= new Chart(ctx,{
                type:'pie',
                data: {
                    labels: ['Votos Primero','Votos Segundo','Votos Tercero','Votos Cuarto', 'Votos Master'],
                    datasets: [{
                            label: 'Votos',
                            data: datos, 
                            backgroundColor: [
                                'rgba(54, 162, 235, 0.2)',
                                'rgba(255, 99, 132, 0.2)',
                                'rgba(142, 38, 163, 0.2)',
                                'rgba(56, 163, 38, 0.2)',
                                'rgba(224, 212, 45, 0.2)',
                            ],
                            borderColor: [
                                'rgba(54, 162, 235, 0.2)',
                                'rgba(255, 99, 132, 0.2)',
                                'rgba(142, 38, 163, 0.2)',
                                'rgba(56, 163, 38, 0.2)',
                                'rgba(224, 212, 45, 0.2)',
                            ],
                            borderWidth: 1
                            }]
                    },
                options:{
                    responsive: true,
                    title :{
                        display: true,
                        text: candidato
                    },
                    legend :{
                        display: false
                    },
                    scales:{
                        yAxes:[{
                            ticks:{
                                beginAtZero:true
                            },
                            display: false,
                            stacked: false
                        }],
                        xAxes:[{
                            display: false
                        }]
                    }
                }
            });
        }

        function exportarPDF(){       
            function mostrarResultados(id) {
                var graficas = document.getElementById(id);
                if (graficas.style.display === "none") {
                    graficas.style.display = "block";
                }
            }
            function resetearGraficas() {
                for(var i=0;i<limit;i++) {
                menuitos[i].style.marginLeft = "0%";
                }
                for(var i=0; i<enunciados.length; i++) {
                    enunciados[i].style.paddingLeft = "0%";
                }
            }

            mostrarResultados("results")   
            mostrarResultados("espacio_graficas0") 
            mostrarResultados("espacio_graficas1") 
            mostrarResultados("espacio_graficas2") 
            mostrarResultados("espacio_graficas3") 
            mostrarResultados("espacio_graficas4")
            mostrarResultados("espacio_graficas5")

            var limit = 7;
            if(voting.postproc.tipo === 'PV'){
                limit = 6;
            } else mostrarResultados("espacio_graficas6");

            var menuitos = document.querySelectorAll(".menuito");
            for(var i=0;i<limit;i++) {
                if(document.getElementById("myChartVotes"+i)!=null){
                    var cssGrafVotes = document.getElementById("myChartVotes"+i);
                    cssGrafVotes.style.cssText = "width:100%";
                }
                if(document.getElementById("myChartAges"+i)!=null){
                    var cssGrafAges = document.getElementById("myChartAges"+i);
                    cssGrafAges.style.cssText = "width:100%";
                }
                menuitos[i].style.marginLeft = "-8%";
            }
            var enunciados = document.querySelectorAll(".centralizar");
            for(var i=0; i<enunciados.length; i++) {
                enunciados[i].style.paddingLeft = "50%";

            }

            var elementHTML= document.getElementById('app-visualizer');

            var opt = {
                filename:     'resultados.pdf',
                image:        { type: 'png', quality: 0.98 },
                html2canvas:  {dpi: 400, letterRendering: true, useCORS: true},
                jsPDF:        { unit: 'in', format: 'letter', orientation: 'landscape' }
                };

            html2pdf().from(elementHTML).set(opt).save();

            window.setTimeout(resetearGraficas, 3000);

        }
        

    </script>

    <script>

        function exportarExcel(tableID, filename = ''){
            function removeElement(elementId) {
                // Removes an element from the document
                var element = document.getElementById(elementId);
                element.parentNode.removeChild(element);
            }
            var downloadLink;
            var dataType = 'data:application/vnd.ms-excel;charset=UTF-8';

            var limit = 7;
            if(voting.postproc.tipo === 'PV'){
                limit = 6;
            }
            for (i=0; i<limit; i++) {
                removeElement('espacio_graficas'+i)
            }
            var tableSelect = document.getElementById(tableID);
            var tableHTML = tableSelect.outerHTML.replace(/ /g, '%20');

            while (tableHTML.indexOf('á') != -1) tableHTML = tableHTML.replace('á', '&aacute;');
            while (tableHTML.indexOf('Á') != -1) tableHTML = tableHTML.replace('Á', '&Aacute;');
            while (tableHTML.indexOf('é') != -1) tableHTML = tableHTML.replace('é', '&eacute;');
            while (tableHTML.indexOf('É') != -1) tableHTML = tableHTML.replace('É', '&Eacute;');
            while (tableHTML.indexOf('í') != -1) tableHTML = tableHTML.replace('í', '&iacute;');
            while (tableHTML.indexOf('Í') != -1) tableHTML = tableHTML.replace('Í', '&Iacute;');
            while (tableHTML.indexOf('ó') != -1) tableHTML = tableHTML.replace('ó', '&oacute;');
            while (tableHTML.indexOf('Ó') != -1) tableHTML = tableHTML.replace('Ó', '&Oacute;');
            while (tableHTML.indexOf('ú') != -1) tableHTML = tableHTML.replace('ú', '&uacute;');
            while (tableHTML.indexOf('Ú') != -1) tableHTML = tableHTML.replace('Ú', '&Uacute;');
            while (tableHTML.indexOf('ñ') != -1) tableHTML = tableHTML.replace('ñ', '&ntilde;');
            while (tableHTML.indexOf('Ñ') != -1) tableHTML = tableHTML.replace('Ñ', '&Ntilde;');
            while (tableHTML.indexOf('º') != -1) tableHTML = tableHTML.replace('º', '&ordm;');
            
            filename = filename?filename+'.xls':'resultados_y_estadisticas.xls';
            downloadLink = document.createElement("a");
            document.body.appendChild(downloadLink);
            
            if(navigator.msSaveOrOpenBlob){
                var blob = new Blob(['ufeff', tableHTML], {
                    type: dataType
                });
                navigator.msSaveOrOpenBlob( blob, filename);
            }else{
                downloadLink.href = 'data:' + dataType + ', ' + tableHTML;
                downloadLink.download = filename;
                downloadLink.click();
            }
            document.location.reload();
        }

    </script>

</body>

    <!-- Footer -->
    <b-footer  data-html2canvas-ignore="true" variant="secondary">
        <ul class="foot">
            <li>
                <a class="AboutUs" href='/visualizer/aboutUs/'>About Us</a>
                <a class="ContactUs" href='/visualizer/contactUs/'>Contact Us</a>
            </li>
        </ul>
    </b-footer>
{% endblock %}
