{% extends "base.html" %}
{% load static %}

{% block extrahead %}
<!-- ################### REACT TEST ################### -->

<meta name="viewport" content="width=device-width, initial-scale=1">
<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css">
<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.16.0/umd/popper.min.js"></script>
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"></script>

<link type="text/css" rel="stylesheet" href="{% static "booth/react/App.css" %}" />
<link type="text/css" rel="stylesheet" href="{% static "booth/react/Voting/Voting.css" %}" />
<link type="text/css" rel="stylesheet" href="{% static "index/menu.css" %}" />
<!-- ################### /REACT TEST ################### -->
{% endblock %}

{% block content %}

<div id="react-root"></div>

{% endblock %}

{% block extrabody %}
    <!-- needed to generate big random -->
    <script src="{% static "crypto/sjcl.js" %}"></script>

    <!-- Big integer -->
    <script src="{% static "crypto/jsbn.js" %}"></script>
    <script src="{% static "crypto/jsbn2.js" %}"></script>
    <script src="{% static "crypto/bigint.js" %}"></script>

    <!-- ElGamal encrypt -->
    <script src="{% static "crypto/elgamal.js" %}"></script>

    <!--Django variables-->
    <script>
        let voting = {{voting|safe}};
        let keybits = {{KEYBITS}};
    </script>

    <!-- Load React. Note: when deploying, replace "development.js" with "production.min.js". -->
    <script src="https://unpkg.com/react@17/umd/react.development.js" crossorigin></script>
    <script src="https://unpkg.com/react-dom@17/umd/react-dom.development.js" crossorigin></script>
    
    <!-- Load Babel (For using JSX)-->
    <script src="https://unpkg.com/babel-standalone@6/babel.min.js"></script>
    <!-- babel-standalone@6 -->

    <!-- Load React components. -->
    <script src="{% static "booth/react/Voting/Voting.js" %}" type="text/babel" data-plugins="transform-es2015-modules-umd"></script>
    <script src="{% static "booth/react/App.js" %}" type="text/babel" data-plugins="transform-es2015-modules-umd"></script>

    <!-- ################### /REACT TEST ################### -->
    <script src="https://unpkg.com/react-i18next/react-i18next.js"></script> 

</body>
{% endblock %}