{% load socialaccount %}
<html>
  <head>
    {% load static %}
    <link rel="stylesheet" type="text/css" href="{% static 'votingusers/login.css' %}">
    <title>DECIDE FULL GUADALFEO</title>
  </head>
  <body>

  <nav class="menu">
     <span>
       <h1>DECIDE</h1>
     </span>
     <ul>
         {% if user.is_authenticated %}
            <li>Welcome, {{ user.username }} !</li>
            <li><a href="{% url 'auth_logout' %}">Logout</a></li>
         {% else %}
            <li><a href="{% url 'auth_login' %}">Login</a></li>
            <li><a href="{% provider_login_url 'google' %}">Login with Google</a> </li>
         {% endif %}
     </ul>
  </nav>
  
  <div class="container">

        <h1>LOGIN</h1>

        {% for message in messages %}
            <p id="error">{{ message }}</p>
        {% endfor %}


        {% if not user.is_authenticated %}

        <div>
            {% if not user.is_authenticated %}

              <form id="loginForm" method="post" action="">
                  {% csrf_token %}
                  {{login_form.as_p}}
                  <input type="submit" value="Login">
              </form>

              <a href="{% url 'auth_register' %}">Need an account? Register here!</a>

            {% else %}

                <p>Already logged in! Return to <a href="{% url 'decide_main' %}">Main Page</a></p>

            {% endif %}

        </div>

        {% else %}

            <ul>
                <li>You are already logged in.</li>
            </ul>

        {% endif %}
    </div>

  </body>
</html>