{% load socialaccount %}
<html>
  <head>
      {% load static %}
      <link rel="stylesheet" type="text/css" href="{% static 'votingusers/registro.css' %}">
      <title>DECIDE FULL GUADALFEO</title>
  </head>

  <body>

    <nav class="menu">
     <span>
       <h1>DECIDE</h1>
     </span>
     <ul>
         {% if user.is_authenticated %}
            <li>Welcome, {{ user.username }} !</li>
            <li><a href="{% url 'auth_logout' %}">Logout</a></li>
         {% else %}
            <li><a href="{% url 'auth_login' %}">Login</a></li>
            <li><a href="{% provider_login_url 'google' %}">Login with Google</a> </li>
         {% endif %}
     </ul>
    </nav>

    <div class="container">

        <h1>REGISTER</h1>

        {% if not user.is_authenticated %}

        <div>
            <form id="registerForm" method="post" action="">
                {% csrf_token %}
                <h3>User</h3>
                {{user_form.as_p}}

                <h3>Voting User</h3>
                {{votinguser_form.as_p}}
                <input type="submit" value="Submit">
            </form>
        </div>

        {% else %}

            {% if not voting_user %}

                <form id="registerForm" method="post" action="">
                    {% csrf_token %}

                    <h3>Voting User</h3>
                    {{votinguser_form.as_p}}
                    <input type="submit" value="Submit">
                </form>

            {% else %}

            <ul>
                <li>You are already logged in.</li>
            </ul>

            {% endif %}
        {% endif %}
    </div>

  </body>
</html>