<html>
  <head>
    <link rel="stylesheet" href="login.css">
    <link href="https://fonts.googleapis.com/css2?family=Martel:wght@700&display=swap" rel="stylesheet">
        <title>DECIDE FULL GUADALFEO</title>
  </head>
  <body>
    <style>
      *{
        margin: 0px;
        padding: 0px;
        font-family: 'Martel', sans-serif;
      }
    </style>
  <div style="width: 100%; height: 80px; background-color: #10ac84; overflow-y: hidden;">
    <ul style="width: 100%; height: 100%; position: relative; list-style-type: none; transform: translateY(25px); overflow-y: hidden;">
      <li style="float: left;">
        <h1>DECIDE</h1>
      </li>
    </ul>
  </div>
  
  <h2>Login</h2>
  
  <div class="container">
    <div class ="inputs">
        <label for="user">E-mail:</label>
        <br>
        <input id="user"type="email">
        <br>
        <label for="password">Contraseña:</label>
        <br>
        <input id="password"type="password">
    </div>
    <br>
    <button>Login</button>
    <button>Login con Google</button>
    <br>

    <a href="#">¿No tienes cuenta? Regístrate</a>
  </div> 

  </body>
</html>