*{
}

h1{
    margin-left: 50px;
    font-weight: bold;
    color: white
}
h2{
    margin: 50px 50px;
    font-size: 80px;
    padding:10px;
    text-align: center;
}

.container{
    padding:2px;
    text-align: center;
}
input{
    padding: 0.3em 6.2em;
    margin-top: 5px;
    margin-bottom: 20px;
}
#login{
    color: white;
    margin-bottom: 20px;
    background-color: #10ac84;
    border-radius: 100px;
    padding: 0.9em 8.2em;

}

#loggo{
    color: white;
    margin-bottom: 20px;
    background-color: #10ac84;
    border-radius: 100px;
    padding: 7px;

}
#loggi{
    color: white;
    margin-bottom: 20px;
    background-color: #10ac84;
    border-radius: 100px;
    padding: 7px;

}